<div class="edit-employer-profile">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-4">
                <navigation-menu-directive></navigation-menu-directive>
            </div>
            <div class="col-md-8">
                <div class="edit-employer-profile-secondary-container" ng-controller="editEmpPasswordController">
                    <div class="title-container">
                        <h3 class="title">Change Password</h3>
                    </div>
                    <div class="form-container">
                        <div class="field-container form-group">
                            <label for="cpassword">Current Password (*):</label>
                            <input type="password" class="form-control" id="cpassword" ng-model="cpassword">
                        </div>
                        <div class="field-container form-group">
                            <label for="npasssword">New Password (*):</label>
                            <input type="password" class="form-control" id="npasssword" ng-model="npassword">
                        </div>

                        <div class="error-msg-container" ng-show="showerrormsg">
                            <span class="error-msg" style="color:red;">{{errormsg}}</span>
                        </div>
                        <div class="button-container"
                             style="text-align: center;padding-top: 15px;padding-bottom: 15px;">
                            <button class="btn btn-success save-btn" ng-click="saveChanges();">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>