<div class="edit-employer-profile">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-4">
                <navigation-menu-seeker-directive></navigation-menu-seeker-directive>
            </div>
            <div class="col-md-8">
                <div class="edit-employer-profile-secondary-container" ng-controller="editSeekerPhotoController">
                    <div class="title-container">
                        <h3 class="title">Change Profile Photo</h3>
                    </div>
                    <div class="form-container">
                        <div class="field-container form-group" style="width:200px;">
                            <label for="cphoto">Current Profile Photo:</label>
                            <div style="width:200px;height:200px;overflow: hidden;">
                                <img ng-src="{{cphoto}}" id="cphoto" style="width:100%;overflow:hidden;">

                            </div>
                            <div class="field-container form-group">
                                <label for="file">New Profile Photo (*):</label>
                                <div class="field-container form-group">
                                    <input type="file" id="file" ng-click="$event = $event" ng-model="display" multiple
                                           onchange="angular.element(this).scope().upload(event)"
                                           accept="image/png, image/jpeg, image/gif"/>
                                </div>
                                <div>
                            <span ng-repeat='img in images'> <a href="#" ng-click="setImage($index)">
                                <img ng-src="{{img}}"
                                     alt="Generic placeholder thumbnail" style="max-height:100px;" class="thumbnail"/>
                                </a>
                              </span>
                                </div>
                            </div>

                            <div class="error-msg-container" ng-show="showerrormsg">
                                <span class="error-msg" style="color:red;">{{errormsg}}</span>
                            </div>
                            <div class="button-container"
                                 style="text-align: center;padding-top: 15px;padding-bottom: 15px;">
                                <button class="btn btn-success save-btn" ng-click="savePhoto();">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>