<div class="edit-guidance-profile" style="padding-bottom: 30px;">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-4">
                <navigation-menu-seeker-directive></navigation-menu-seeker-directive>
            </div>
            <div class="col-md-8">
                <div class="edit-guidance-profile-secondary-container" ng-controller="editSeekerProfileController"
                     style="margin-top: 50px;">
                    <div class="title-container">
                        <h3 class="title" style="text-align: center;">Edit Job Seeker Profile</h3>
                    </div>
                    <div class="form-container">
                        <div class="field-container form-group">
                            <label for="nic-no">NIC No (*):</label>
                            <input type="text" class="form-control" id="nic-no" ng-model="nicno" readonly>
                        </div>
                        <div class="field-container form-group">
                            <label for="fname">First Name (*):</label>
                            <input type="text" class="form-control" id="fname" ng-model="fname">
                        </div>
                        <div class="field-container form-group">
                            <label for="mname">Middle Name (*):</label>
                            <input type="text" class="form-control" id="mname" ng-model="mname">
                        </div>
                        <div class="field-container form-group">
                            <label for="lname">Last Name (*):</label>
                            <input type="text" class="form-control" id="lname" ng-model="lname">
                        </div>
                        <div class="field-container form-group">
                            <label for="email">Email (*):</label>
                            <input type="text" class="form-control" id="email" ng-model="email">
                        </div>
                        <div class="field-container form-group">
                            <label for="add1">Address Line1 (*):</label>
                            <input type="text" class="form-control" id="add1" ng-model="add1">
                        </div>
                        <div class="field-container form-group">
                            <label for="add2">Address Line2 (*):</label>
                            <input type="text" class="form-control" id="add2" ng-model="add2">
                        </div>
                        <div class="field-container form-group">
                            <label for="add3">Address Line3 (*):</label>
                            <input type="text" class="form-control" id="add3" ng-model="add3">
                        </div>
                        <div class="field-container form-group">
                            <label for="mobileno">Mobile No (*):</label>
                            <input type="text" class="form-control" id="mobileno" ng-model="mobileno">
                        </div>
                        <div class="field-container form-group">
                            <label for="mobileno">Status (*):</label>
                            <input type="text" class="form-control" id="status" ng-model="status" readonly>
                        </div>
                        <div class="field-container form-group">
                            <label for="dob">Date of Birth (*):</label>
                            <input type="text" class="form-control" id="dob" ng-model="dob">
                        </div>
                        <div class="field-container form-group">
                            <label for="dob">Gender (*):</label>
                            <input type="text" class="form-control" id="gender" ng-model="gender">
                        </div>

                        <div class="error-msg-container" ng-show="showerrormsg">
                            <span class="error-msg" style="color:red;">{{errormsg}}</span>
                        </div>
                        <div class="button-container"
                             style="text-align: center;padding-top: 15px;padding-bottom: 15px;">
                            <button class="btn btn-success save-btn" ng-click="saveData();">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>