<div class="end-registration-page" ng-controller="EndRegistrationController">
    <div class="container">
        <div class="row">
            <div class="message-container">
                <h1 class="success-message">Your registration request has been sent to the system admin for the
                    approval.</h1>
                <h1 class="error-message">Something went wrong. Please try again.</h1>
                <h1 class="success-message">Your registration has been successfull.</h1>
            </div>
            <div class="button-container">
                <button class="btn btn-primary" ng-click="back();">Back to login menu</button>
            </div>
        </div>
    </div>
</div>