<div class="login-menu-page-main-container" ng-controller="LoginMenuController">
    <div class="container">
        <div class="row">
            <div class="login-menu-page-secondary-container">
                <div class="title-container">
                    <h1 class="title">Login Menu</h1>
                </div>
                <div class="button-container">
                    <button class="menu-item btn btn-success" ng-click="directToLogin();">Login as a student</button>
                </div>
                <div class="button-container">
                    <button class="menu-item btn btn-success">Login as a employer</button>
                </div>
                <div class="button-container">
                    <button class="menu-item btn btn-success">Login as a carrier guidance officer</button>
                </div>
            </div>
        </div>
    </div>
</div>