<div class="student-login-page-main-container">
    <div class="container">
        <div class="row">
            <div class="student-login-page-secondary-container">
                <div class="title-container">
                    <h1 class="title">Student Account</h1>
                </div>
                <div class="login-signup-container clearfix">
                    <div class="col-md-6">
                        <div class="secondary-title-container">
                            <h2 class="title">Login</h2>
                        </div>
                        <div class="login-container">
                            <div class="field-container form-group">
                                <label for="username">Username:</label>
                                <input type="text" class="form-control" id="username">
                            </div>
                            <div class="field-container form-group">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" id="password">
                            </div>
                            <div class="button-container form-group">
                                <button class="login-btn btn btn-primary">Login</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="secondary-title-container">
                            <h2 class="title">Register</h2>
                        </div>
                        <div class="register-container">
                            <div class="field-container form-group">
                                <label for="fname">First Name:</label>
                                <input type="text" class="form-control" id="fname">
                            </div>
                            <div class="field-container form-group">
                                <label for="mname">Middle Name:</label>
                                <input type="text" class="form-control" id="mname">
                            </div>
                            <div class="field-container form-group">
                                <label for="lname">Last Name:</label>
                                <input type="text" class="form-control" id="lname">
                            </div>
                            <div class="field-container form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email">
                            </div>
                            <div class="field-container form-group">
                                <label for="register-username">Username:</label>
                                <input type="text" class="form-control" id="register-username">
                            </div>
                            <div class="field-container form-group">
                                <label for="register-password">Password:</label>
                                <input type="password" class="form-control" id="register-password">
                            </div>
                            <div class="button-container form-group">
                                <button class="btn btn-primary register-btn">Register</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>