<div class="edit-employer-profile">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-4">
                <navigation-menu-seeker-directive></navigation-menu-seeker-directive>
            </div>
            <div class="col-md-8">
                <div class="edit-employer-profile-secondary-container" ng-controller="viewEmpProfileController">
                    <div class="title-container">
                        <h3 class="title">View Employer Profile</h3>
                    </div>
                    <div class="form-container">
                        <div class="field-container form-group">
                            <label for="oname">Organization Name (*):</label>
                            <input type="text" class="form-control" id="oname" ng-model="oname" readonly>
                        </div>
                        <div class="field-container form-group">
                            <label for="email">Email (*):</label>
                            <input type="text" class="form-control" id="email" ng-model="email" readonly>
                        </div>
                        <div class="field-container form-group">
                            <label for="add1">Address Line1 (*):</label>
                            <input type="text" class="form-control" id="add1" ng-model="add1" readonly>
                        </div>
                        <div class="field-container form-group">
                            <label for="add2">Address Line2 (*):</label>
                            <input type="text" class="form-control" id="add2" ng-model="add2" readonly>
                        </div>
                        <div class="field-container form-group">
                            <label for="add3">Address Line3 (*):</label>
                            <input type="text" class="form-control" id="add3" ng-model="add3" readonly>
                        </div>
                        <div class="field-container form-group">
                            <label for="mobileno">Mobile No (*):</label>
                            <input type="text" class="form-control" id="mobileno" ng-model="mobileno" readonly>
                        </div>
                        <div class="field-container form-group">
                            <label for="aboutorganization">About Organization (*):</label>
                            <textarea class="form-control" id="aboutorganization"
                                      ng-model="aboutorganization" ng-value="aboutorganization"
                                      style="height:150px;" readonly></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>